body{
    padding-top: 20px;
}

.health-insurance-sec-1{
    padding: 20px;
}

#health-div-hide{
    display: none;
}

.calculate-div-section{
    background-color: #3d6147;
    border: 4px solid rgb(255, 0, 0);
    display: none;
    margin-bottom: 18px;
    color: rgb(224, 224, 224);
    padding: 10px;
}

.calculate-button-div{
    margin-bottom: 20px;
}

.textForBold{
    font-weight: bold;
}

.contact-section{
    text-align: center;
    margin: auto;
}

.dateOfBirth_width{
    width: 30%;
    
}

.hideSectionForPlanClass_1{
    display: none;
}

.sum-assured-division{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sum-assured-division-input-1{
    margin-top: 10px;
}

.only-margin-class-buttom{
    margin-bottom: 10px;
}

.only-margin-class-top{
    margin-top: 10px;
}
.only-font-weight-bold{
    font-weight: bold;
}
.premium-calculator-header-tag{
    margin-bottom: 40px;
}
.health-insurance-hide-sec-1{
    background-color: darkgray;
}